# Compiled class file
*.class

# Log file
*.log

# IntelliJ IDEA
.idea/

# Eclipse
.classpath
.project
.settings/

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Gradle
build/
.gradle/

# OS-specific files
.DS_Store
Thumbs.db
